@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';



@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: avenir, sans-serif ;
}
body{
    background-color: variaveis.$cordefundo;
}

@mixin texting($fontsize: 16px){
    font-size: $fontsize;
    line-height: $fontsize + 10px;
    color: variaveis.$cortextoprincipal;
}

@mixin title($fontsize: 40px){
    @include texting($fontsize);
    color: variaveis.$cortextosecundario;
}




.text--big{
    @include texting(18px);
}

.text{
    @include texting;
}

.text--small{
    @include texting(12px)
}

.title--big{
@include title(44px)
}

.title--medium{
@include title;
}
.title--small{
@include title(28px)
}

.link--text{
    @include texting(18px);
    color: variaveis.$cortextosecundario;
    text-decoration: underline;
}

.button{
    width: 100%;
    display: block;
    font-size: 18px;
    height: 60px;
    color: variaveis.$cortextosecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
}